* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Hind Siliguri;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 20px;
}
.wall {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.wall p {
  color: #c72535;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 14.5%;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-weight: 600;
  font-size: 44px;
  text-align: center;
}

.nav {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list ul {
    gap: 50px;
    display: flex;
  }
  &__list ul li {
    display: flex;
    padding: 5px 10px;
    border-radius: 30px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: #247cc0;
      color: white;
      transform: translateY(-3px);
    }
  }
  &__items {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  &__items img {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      filter: drop-shadow(0 0 4px #247cc0);
      transform: translateY(-3px);
    }
  }
}

.hero {
  &__wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
  }

  &__titles p:nth-child(1) {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 14.5%;
    text-transform: uppercase;
    color: #c72535b9;
  }

  &__titles p:nth-child(3) {
    font-weight: 400;
    margin-top: 30px;
    font-size: 20px;
    line-height: 27px;

    color: #030d157c;
  }

  h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 81.2px;
  }

  h1 span {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 55px;
    padding: 0 12px;
    background: #247cc025;
    color: #247cc0;
  }

  &__buttons {
    display: flex;
    margin-top: 30px;
    gap: 25px;
    align-items: center;
  }

  &__buttons p:nth-child(3) {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    margin-top: 0;
    text-align: center;
    text-decoration: line-through;
    color: #030d157c;
  }

  &__buttons p:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  &__buttons button {
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background: #247cc0;
    padding: 10px 30px;
    border: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      filter: drop-shadow(0 0 4px #247cc0);
      transform: translateY(-3px);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 20px;
}
.grid .card {
  width: 300px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.grid .card:hover {
  transform: translateY(-10px);
}
.grid .card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}
.grid .card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.pagination button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
}
.pagination button.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.Footer {
  &__wrapper {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
  }
  &__logo p {
    margin-top: 20px;
    color: #b4b4b4;
  }

  background: #000;

  &__titles {
    color: #b4b4b4;
  }
  &__titles b {
    color: #ffffff;
    cursor: pointer;
  }
  &__titles p {
    margin-top: 20px;
    cursor: pointer;
  }

  &__titles img{
    margin-top: 40px;
    cursor: pointer;
  }
}
